/* CSS Boiler plate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
 }
html , body
{ 
height: 100%;
width: 100%;
}
/* Main styling starts here */

/* 1. */
#bulb
{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 2px solid black;
    margin: 2rem;
}
/* bb= bulbbutton */
#bb
{
    margin: 2rem;
    padding: 0.2rem 0.6rem;
}

.bb-bg
{
    background-color: yellow;
}