/* CSS Boiler plate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
 }
html , body
{ 
height: 100%;
width: 100%;
}
/* Main styling starts here */
.main
{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main h1
{
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
}

.main #circle
{
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: red;
    position:absolute;
}